variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml

stages:
  - build
  - test
  - sast
  - dependency_scanning
  - build-and-push-image

build:
  image: maven:3.9-eclipse-temurin-17
  stage: build
  script:
    - mvn clean package -B
  artifacts:
    paths:
      - target/*.jar

test:
  stage: test
  script:
    - echo "do nothing"

spotbugs-sast:
  stage: sast
  variables:
    MAVEN_REPO_PATH: .m2/repository

build-and-push-image:
  image: docker:24.0.7
  services:
    - docker:24.0.7-dind
  stage: build-and-push-image
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx create --use
  script:
    - docker buildx build --platform linux/amd64,linux/arm64 --tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} --push ${CI_PROJECT_DIR}